In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'a':range(1,10)})
df

   a
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [5]:
df = pd.DataFrame({'a':range(1,10)})
df.reset_index(inplace=True)
df['file']='file'
df

   index  a  file
0      0  1  file
1      1  2  file
2      2  3  file
3      3  4  file
4      4  5  file
5      5  6  file
6      6  7  file
7      7  8  file
8      8  9  file

In [6]:
audio_label = []#pd.DataFrame(columns=['index','file','class'])
audio_label.append([0,'test','text'])
audio_label.append([0,'test','text'])
audio_label.append([0,'test','text'])
audio_label.append([0,'test','text'])

df2 = pd.DataFrame(audio_label,columns=['index','file','class'])
df2

   index  file class
0      0  test  text
1      0  test  text
2      0  test  text
3      0  test  text

In [7]:
audio_features = pd.read_csv('../data/audio_features/audio_features.csv')
audio_labels_df = pd.read_csv('../data/audio_features/audio_features_labels.csv')
audio_features.set_index(['index','file'])#.join(audio_labels_df.set_index(['index','file']))
audio_labels_df.set_index(['index','file'])
audio_features_labelled=audio_features.set_index(['index','file']).join(audio_labels_df.set_index(['index','file']))
# audio_features_labelled.isnull().any(axis=1)
audio_features_labelled.dropna(axis=0,inplace=True)
audio_features_labelled[audio_features_labelled.isnull().any(axis=1)]
# audio_features_labelled

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, label]
Index: []

[0 rows x 33 columns]

In [17]:
test = audio_features_labelled.iloc[1:10,:].copy()


test.drop(test.columns,axis=1,inplace=True)
test['test'] = True

test

audio_features_labelled_test=audio_features_labelled.join(test)
audio_features_labelled_test

,,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,label,test
index,file,,,,,,,,,,,,,,,,,,,,,
1,Muppets-02-01-01,30.53603,4.660180,0.256428,1.640290,0.229876,1.093439,0.176366,0.643081,-0.791205,0.205453,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,no_kermit,NaN
2,Muppets-02-01-01,30.53603,4.660180,0.256428,1.640290,0.229876,1.093439,0.176366,0.643081,-0.791205,0.205453,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,no_kermit,True
3,Muppets-02-01-01,30.53603,4.660180,0.256428,1.640290,0.229876,1.093439,0.176366,0.643081,-0.791205,0.205453,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,no_kermit,True
4,Muppets-02-01-01,30.53603,4.660180,0.256428,1.640290,0.229876,1.093439,0.176366,0.643081,-0.791205,0.205453,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,no_kermit,True
5,Muppets-02-01-01,30.53603,4.660180,0.256428,1.640290,0.229876,1.093439,0.176366,0.643081,-0.791205,0.205453,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,no_kermit,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535,Muppets-03-04-03,-82.50821,-16.507092,8.861674,-0.470789,4.660599,0.180654,4.726773,1.408665,3.325044,-1.832804,...,0.394755,0.230651,0.384052,0.364544,0.308832,0.497708,0.201962,0.288697,no_kermit,NaN
1536,Muppets-03-04-03,-81.17611,-18.854298,8.942391,-1.693427,3.361180,0.047770,4.151294,0.725729,3.177384,-1.114452,...,0.010115,0.021411,0.014365,0.014404,0.033408,0.023495,0.030230,0.097717,no_kermit,NaN
1537,Muppets-03-04-03,-81.17611,-18.854298,8.942391,-1.693427,3.361180,0.047770,4.151294,0.725729,3.177384,-1.114452,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,no_kermit,NaN
1538,Muppets-03-04-03,-81.17611,-18.854298,8.942391,-1.693427,3.361180,0.047770,4.151294,0.725729,3.177384,-1.114452,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,no_kermit,NaN
1539,Muppets-03-04-03,-81.17611,-18.854298,8.942391,-1.693427,3.361180,0.047770,4.151294,0.725729,3.177384,-1.114452,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,no_kermit,NaN